<main>
  <div class="form__wrapper">
    <diV class="page-heading">編集BREED投稿</div>
     <div class="edit">
      <%= form_with model: @breed, url: breed_path(@breed.id), local: true do |f|%>
        <div class="field">
          題名
        </div>
        <%= f.text_field :name %>
        
        <div class="field">
          親情報
        </div>
        <%= f.text_field :parent_information %>

        <div class="field">
          セット日
        </div>
        <%= f.text_field :date%>

        <div class="field">
          結果
        </div>
        <%= f.text_area :result, class: :form__text %>

        <div class="field">
          備考欄
        </div>
        <%= f.text_area :note, class: :form__text %>

        <div class="actions">
          <%= f.submit "保存する", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</main>