<nav>
  <ul class="list-group ml-1">
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-5">このサイトの目的</li>
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-1">使用ガイド</li>
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-1">飼育マニュアル</li>
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-1">みんなの投稿</li>
    <% if user_signed_in? %>
      <li >
      <%= link_to "My ページ", user_path(current_user.id), class: :"list-group-item list-group-item-action list-group-item-secondary active mt-1" %> 
      </li>
      <li>
      <%= link_to "NEW BREED", new_breed_path, class: :"list-group-item list-group-item-action list-group-item-secondary active mt-1" %>
      </li>
    <% end %>
  </ul>
</nav>

<main>
    <div class="new-title"  style="width: 450px;">新規BREED投稿</div>

    <div class="new-breed" style="width: 500px;">
      <%= form_with(model: @breed , local: true) do |f|%>
        <div class=" a">
          投稿画像
          <span class="up-name">必須</span>
        </div>
         <%= f.file_field :image %>

        <div class="field">
          題名 (編集可)
          <span class="up-name">必須</span>
        </div>
        <%= f.text_field :name %>

        <div class="field">
         カテゴリー
         <span class="up-name">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"category"}) %>

        <p class="page-heading２">※カテゴリーの選択内容で種類はどちらかを選択して下さい</p>

        <div class="field">
          種類（Beetle）
        </div>
        <%= f.collection_select(:beetle_type_id, BeetleType.all, :id, :name, {}, {class:"select-box", id:"beetle_type"}) %>

        <div class="field">
          種類（StagーBeetle）
        </div>
        <%= f.collection_select(:stag_beetle_type_id, StagBeetleType.all, :id, :name, {}, {class:"select-box", id:"stag_beetle_type"}) %>

        <div class="field">
           親情報(編集可)
           <span class="up-name">必須</span>
        </div>
        <%= f.text_field :parent_information %>

        <div class="field">
          セット日(編集可)
          <span class="up-name">必須</span>
        </div>
        <%= f.text_field :date , placeholder:"例）2019-09-11"%>

        <div class="field">
         結果(編集可)
         <span class="up-name">必須</span>
        </div>
        <%= f.text_area :result, class: :form__text ,placeholder:"初投稿時は割り出し予定日を記載" %>

        <div class="field">
        備考欄(編集可)
        <span class="up-name">必須</span>
        </div>
        <%= f.text_area :note, class: :form__text ,placeholder:"例1）マットの水分量：やや多め...例２）温度設定：25度など"%>

        <div class="actions">
          <%= f.submit "投稿する", class: :"  btn btn-secondary" %>
        </div>
      <% end %>
    </div>
 
</main>