<nav>
  <ul class="list-group ml-2 mt-5">
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-5 ">このサイトの目的</li>
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-1 ">使用ガイド</li>
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-1">飼育マニュアル</li>
      <li class="list-group-item list-group-item-action list-group-item-secondary active mt-1">みんなの投稿</li>
    <% if user_signed_in? %>
      <li >
      <%= link_to "My ページ", user_path(current_user.id), class: :"list-group-item list-group-item-action list-group-item-secondary active mt-1" %> 
      </li>
      <li>
      <%= link_to "NEW BREED", new_breed_path, class: :"list-group-item list-group-item-action list-group-item-secondary active mt-1" %>
      </li>
    <% end %>
  </ul>
</nav>

<main>
<div class="item-show">
  <div class="item-box">
    <div class="name">
      <%= @breed.name %>
    </div>
    <div>
    <%= link_to '編集', edit_breed_path(@breed.id), method: :get, class: "btn btn-dark" %>
    <%= link_to '削除', breed_path(@breed.id), method: :delete, class:'btn btn-dark' %>
    </diV> 
    <div class='item-img-content'>
      <%= image_tag @breed.image,class:"item-box-img" %>
    </div>
    
  
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @breed.category.name%></td>
        </tr>
        <% if (@breed.beetle_type.id) > 1 %>
        <tr>
          <th class="detail-item">種類名</th>
          <td class="detail-value"><%= @breed.beetle_type.name %></td>
        </tr>
        <% else %>
        <tr>
          <th class="detail-item">種類名</th>
          <td class="detail-value"><%= @breed.stag_beetle_type.name %></td>
        </tr>
         <% end %>
        <tr>
          <th class="detail-item">親情報</th>
          <td class="detail-value"><%= @breed.parent_information %></td>
        </tr>
        <tr>
          <th class="detail-item">セット日</th>
          <td class="detail-value"><%= @breed.date %></td>
        </tr>
        <tr>
          <th class="detail-item">結果</th>
          <td class="detail-value"><%= @breed.result %></td>
        </tr>
        <tr>
          <th class="detail-item">備考欄</th>
          <td class="detail-value"><%= @breed.note %></td>
        </tr>
      </tbody>
    </table>
</div>
</main>