<main>
  <div class="show-heading">  <%= "#{@user.nickname}の BREED 情報"%></div> 
  <div class="heading">
    <div class="user-show"> 
      <h2 class="page-heading"><%= "BREEDER" %> </h2>
      <p >名前</p>
       <%= @user.nickname %>
      <p>ブリード歴</p>
      <%= "#{@user.breeding_history}年" %>
      <p>プロフィール</p>
       <%= @user.profile %>
    </div>
  
      <div class="page1-heading">
        <%= "投稿内容  一覧表示" %> 
      </div>
  </div>

  <div class="users-breed">
    <ul class='item-lists'>
        <% @breeds.each do |breed| %>
       <li class="breed-show">
        <p>
        <%= breed.name %>
        </p>
        <p>
        <%= breed.date %>
        </P>
        <div class="user__image">
        <%= link_to image_tag(breed.image,), breed_path(breed.id) %>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
 
 
</main>