<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beetle＿bleeding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="style.css" rel="stylesheet">
  </head>

<body>
  <header>
    <div class="nav-left">
      <%= link_to "Beetle Breeding", root_path,class: :title %>
    </div>
      
    <% if user_signed_in? %>
      <div class="nav-right">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
        <%= link_to "New Breed", new_breed_path, class: :nav__btn %>
      </div> 
    <% else %>
     <div class="nav-right">
        <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
        <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
      </div>
    <% end %>
    
  </header>

  <% if user_signed_in? %>
      <div class="name">
        <%= link_to "〜ようこそBREEDER #{current_user.nickname}〜", user_path(current_user.id)%>
      </div> 
      
  <% end %>
  <%= yield %>
  <footer>
    <p class="copyright">Copyright © BEETLI BREEDING 2020.</p>
  </footer>
</body>
</html>